{% extends 'default.html' %}
{% load censorship %}
{% block title %}
NewsSearch
{% endblock title %}

{% block content %}
   <h1>Все новости</h1>
    {% load cache %}
        {% cache 60 header %}
            <h3>Всего новостей: {{ page_obj.paginator.count }}</h3>
        {% endcache %}

   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

   <hr>
   {% if news_list %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Текст</td>
           </tr>
           {% for news in news_list %}
           <tr>
               <td><a href="{% url 'news_detail' news.id %}">{{ news.title | censor }}</a></td>
               <td>{{ news.creation_time | date:'d M Y' }}</td>
               <td>{{ news.text | truncatechars:20 | censor }}</td>
               <!--Поскольку сделано, что у поста и новости разные страницы, так будет правильнее-->
               {% if news.type == "NE" %}
               <td><a href="{% url 'news_delete' news.id %}">Удалить</a></td>
               <td><a href="{% url 'news_edit' news.id %}">Редактировать</a></td>
               {% else %}
               <td><a href="{% url 'post_delete' news.id %}">Удалить</a></td>
               <td><a href="{% url 'post_edit' news.id %}">Редактировать</a></td>
               {% endif %}
           </tr>
           {% endfor %}


       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}

{% endblock content %}