{% extends 'default.html' %}
{% load censorship %}
{% block title %}
NewsSearch
{% endblock title %}
{% block content %}
{% load i18n %}
   <h1>{%  trans 'All news' %}</h1>
    {% load cache %}
        {% cache 60 header %}
            <h3>{% trans 'Total news' %}: {{ page_obj.paginator.count }}</h3>
        {% endcache %}

   <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>

   <hr>
   {% if news_list %}
       <table>
           <tr>
               <td>{% trans 'Title' %}</td>
               <td>{% trans 'Date of publication' %}</td>
               <td>{% trans 'Text' %}</td>
           </tr>
           {% for news in news_list %}
           <tr>
               <td><a href="{% url 'news_detail' news.id %}">{{ news.title | censor }}</a></td>
               <td>{{ news.creation_time | date:'d M Y' }}</td>
               <td>{{ news.text | truncatechars:20 | censor }}</td>
               <!--Поскольку сделано, что у поста и новости разные страницы, так будет правильнее-->
               {% trans 'Delete' as delete_trans %}
               {% trans 'Redact' as redact_trans %}
               {% if news.type == "NE" %}
               <td><a href="{% url 'news_delete' news.id %}">{{ delete_trans }}</a></td>
               <td><a href="{% url 'news_edit' news.id %}">{{ redact_trans }}</a></td>
               {% else %}
               <td><a href="{% url 'post_delete' news.id %}">{{ delete_trans }}</a></td>
               <td><a href="{% url 'post_edit' news.id %}">{{ redact_trans }}</a></td>
               {% endif %}
           </tr>
           {% endfor %}


       </table>
   {% else %}
       <h2>{% trans "There are no news" %}!</h2>
   {% endif %}

{% endblock content %}